.catalog__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 20px;
  min-height: 200px;
}

@media (min-width: 1048px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 508px);
    justify-content: center;
    width: 1036px;
    min-height: 2154px;
    row-gap: 20px;
    column-gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1047.98px) {
  .catalog__grid {
    grid-template-columns: minmax(390px, 508px);
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .catalog__grid {
    row-gap: 16px;
    column-gap: 16px;
  }
}
