.page__container {
  width: min(100% - (var(--container-padding) * 2), var(--container-width));
  margin: 0 auto;
}

.page__header {
  padding: 1.75rem 0 1.25rem;
}

.page__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.15;
}

.page__content {
  padding-top: 6.25rem;
  padding-bottom: 3.5rem;
}

@media (min-width: 768px) {
  .page__container {
    width: min(100% - (var(--container-padding) * 2), 64.75rem);
  }

  .page__header {
    padding: 2.625rem 0 1.5rem;
  }

  .page__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 767.98px) {
  :root {
    --container-padding: 12px;
    --container-padding: 0.75rem;
  }

  .page__header {
    padding: 1.25rem 0 1rem;
  }

  .page__title {
    font-size: 1.25rem;
  }

  .page__content {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
  }
}
